@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    --white: #fff;
    --black: #212429;
    --hover: #e8d599;
}


/* NAVBAR */


.nav-bar {
    position: sticky;
    top: 0%;
    display: flex;
    justify-content: space-between;
    padding: 32px;
    margin-bottom: 40px;
    border-bottom: 1px solid black;
    background-color: #fff;
    z-index: 2;
}

.nav-bar a {
    text-decoration: none;
}

.nav-bar a :hover {
    color: var(--hover);
}


/* MAIN CONTENT */

#header-title {
    font-size: 32px;
    margin-left: 32px;
}

.main-container {
    display: flex;
    justify-content: center;
    margin: 32px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 90%;
}

.grid-item {
    width: 100%;
    height: auto;
}

.grid-item > .item-data {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    font-size: 14px;
}

.item-img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.grid-item > img:hover {
    transition: 0.5s;
    filter: sepia(25%) saturate(120%);
}


/* FOOTER */

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid black;
    margin-top: 40px;
    background-color: var(--black);
    padding: 20px;
}

.footer-item > .item-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 100%;
}

.item-data > a {
    color: var(--white);
    text-decoration: none;
}

.item-data > a > p {
    opacity: 0.8;
}

.item-data > a :hover {
    opacity: 1;
    color: var( --hover);
}


.footer-icon {
    padding: 9px;
    background-clip: padding-box;
}

.icon-bg {
    background-color: #fff;
    border-radius: 50%;
}

/* OTHER THINGS */

::selection {
    color: #fff;
    background: var(--hover);
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--black);
}